<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.android.demo.apis"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- 使用相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 应用程序用到设备的摄像头。如果设备支持多个摄像头，程序使用背朝屏幕的那个。 -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- 子特性。应用程序用到设备摄像头的自动对焦功能。 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 读取SDCard中文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 使用网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:name="cn.android.demo.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme" >
        <activity
            android:name="cn.android.demo.apis.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- ********************Pro*********************** -->
        <activity android:name="cn.android.demo.apis.project.rss.ShowDetails" >
        </activity>
        <activity
            android:name="cn.android.demo.apis.project.rss.AndroidRssReader"
            android:label="@string/project_rssreader" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- ********************Net*********************** -->

        <activity
            android:name="cn.android.demo.apis.net.TrafficStatsActivity"
            android:label="@string/net_trfficstats" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- ********************Phone*********************** -->

        <activity
            android:name="cn.android.demo.apis.phone.ExplorerFile"
            android:label="@string/phone_explorer_file" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name="cn.android.demo.apis.phone.CameraPictureSizes"
            android:label="@string/phone_camera_picture_size" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="cn.android.demo.apis.phone.LightSensor"
            android:label="@string/phone_light_sensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.DetectBatteryLevel"
            android:label="@string/phone_detect_battery_level" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.AndroidCamera"
            android:label="@string/phone_camera_preview" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.DetectBatteryInfo"
            android:label="@string/phone_detect_battery_info" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.CopynPaste"
            android:label="@string/phone_copyn_paste" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.EnableGPS"
            android:label="@string/phone_enable_gps" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- *************** **LOCATION** *************** -->
        <activity
            android:name="cn.android.demo.apis.location.IntentActionView"
            android:label="@string/location_intent_action_view" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- *************** **THREAD** *************** -->
        <activity
            android:name="cn.android.demo.apis.thread.AndroidAsyncTask"
            android:label="@string/thread_async_task" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.thread.AndroidBackgroundThread"
            android:label="@string/thread_android_background" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!--  -->

        <activity
            android:name="cn.android.demo.apis.bug.BUGSurfaceViewWater"
            android:label="@string/bug_surface_water" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- *************** **UI Widget** *************** -->

        <activity
            android:name="cn.android.demo.apis.ui.widget.SurfaceViewWater"
            android:label="@string/ui_widget_surface_water" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.ui.widget.CanvasBitmap"
            android:label="@string/ui_widget_canvas_bitmap" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.ui.widget.TouchDrawCircle"
            android:label="@string/ui_widget_canvas_circle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- *************** **UI View** *************** -->

        <activity
            android:name="cn.android.demo.apis.ui.views.ListViewDemo"
            android:label="@string/ui_view_list_view" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.ui.views.ViewOverlay"
            android:label="@string/ui_view_viewoverlay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- *************** **UI Resources** *************** -->
        <activity
            android:name="cn.android.demo.apis.ui.resources.StringSpinner"
            android:label="@string/ui_resources_spinner" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.ui.resources.RawMediaPlayer2SoundPool"
            android:label="@string/ui_resources_raw_media_player" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- *************** **APP** *************** -->
        <activity
            android:name="cn.android.demo.apis.app.AndroidChronometer"
            android:label="@string/app_android_chronometer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.app.SharedPreferencesEditor"
            android:label="@string/app_shared_preferences_editor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.app.AndroidService"
            android:label="@string/app_service" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.net.AndroidWebImage"
            android:label="@string/net_android_web_image" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.android.demo.apis.app.MyService"
            android:enabled="true" >
        </service>

        <!-- *************** **APPWIDGET***************** -->
        <!--
        <receiver android:name=".appwidget.BatteryWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider_info" />
        </receiver>

        <service android:name=".appwidget.BatteryWidgetProvider.MyBatteryReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
            </intent-filter>
        </service>
        -->
    </application>

</manifest>