<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.android.demo.apis"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cn.android.demo.apis.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- ********************Phone*********************** -->

        <activity
            android:name="cn.android.demo.apis.phone.DetectBatteryLevel"
            android:label="@string/phone_detect_battery_level" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.DetectBatteryInfo"
            android:label="@string/phone_detect_battery_info" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.CopynPaste"
            android:label="@string/phone_copyn_paste" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.EnableGPS"
            android:label="@string/phone_enable_gps" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- *************** **APPWIDGET***************** -->
        <!--
        <receiver android:name=".appwidget.BatteryWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider_info" />
        </receiver>

        <service android:name=".appwidget.BatteryWidgetProvider.MyBatteryReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
            </intent-filter>
        </service>
        -->
    </application>

</manifest>