<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.android.demo.apis"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- 使用相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 应用程序用到设备的摄像头。如果设备支持多个摄像头，程序使用背朝屏幕的那个。 -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- 子特性。应用程序用到设备摄像头的自动对焦功能。 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 读取SDCard中文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写入SDCard中文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 使用网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- WIFI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 改变WIFI状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 修改全局系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 设置桌面壁纸 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <!-- 允许程序在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 录制声音通过手机或耳机的麦克 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许程序连接配对过的蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:name="cn.android.demo.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme" >
        <activity
            android:name="cn.android.demo.apis.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- ********************DB*********************** -->
        <activity
            android:name="cn.android.demo.apis.db.AndroidSQLite"
            android:label="@string/db_android_sqlite" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- ********************Pro*********************** -->
        <activity android:name="cn.android.demo.apis.project.rss.ShowDetails" >
        </activity>
        <activity
            android:name="cn.android.demo.apis.project.rss.AndroidRssReader"
            android:label="@string/project_rssreader" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- ********************Net*********************** -->

        <activity
            android:name="cn.android.demo.apis.net.AndroidFlickrActivity"
            android:label="@string/net_flickr" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.net.AndroidJSON"
            android:label="@string/net_android_json" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.net.IP"
            android:label="@string/net_android_ip" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.net.SocketClient"
            android:label="@string/net_socket_client" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.net.TrafficStatsActivity"
            android:label="@string/net_trfficstats" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- ********************JAVA*********************** -->

        <activity
            android:name="cn.android.demo.apis.java.JavaAddView"
            android:label="@string/java_code_add_view"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.java.AndroidStringCompare"
            android:label="@string/java_android_string_compare"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.java.BlackBoxPatterns"
            android:label="@string/java_android_black_box_patterns"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- ********************Phone*********************** -->
        <activity
            android:name="cn.android.demo.apis.phone.ListPairedDevicesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.AndroidDPIActivity"
            android:label="@string/phone_android_dpi"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.AndroidBluetooth"
            android:label="@string/phone_android_bluetooth"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.AndroidBeatBox"
            android:label="@string/phone_android_beatbox"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.AndroidThumbnailUtils"
            android:label="@string/phone_android_thumbnail"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.AndroidVideoCapture"
            android:label="@string/phone_android_video_capture"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.EMail"
            android:label="@string/phone_android_email"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.SMS"
            android:label="@string/phone_android_sms"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.Accelerometer"
            android:label="@string/phone_android_accelerometer_sensors"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.SensorList"
            android:label="@string/phone_android_sensor_list"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.ControlFlashLight"
            android:label="@string/phone_android_flash_light"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.ScreenBrightness"
            android:label="@string/phone_android_screen_brightness"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.WIFI"
            android:label="@string/phone_android_wifi_info"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.AndroidCameraPictureSizes"
            android:label="@string/phone_camera_picture_size"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.OrientationSensor"
            android:label="@string/phone_orientation_sensor"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.SDcard"
            android:label="@string/phone_sdcard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.ExplorerFile"
            android:label="@string/phone_explorer_file" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name="cn.android.demo.apis.phone.CameraPictureSizes"
            android:label="@string/phone_camera_picture_size" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="cn.android.demo.apis.phone.LightSensor"
            android:label="@string/phone_light_sensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.DetectBatteryLevel"
            android:label="@string/phone_detect_battery_level" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.AndroidCamera"
            android:label="@string/phone_camera_preview" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.DetectBatteryInfo"
            android:label="@string/phone_detect_battery_info" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.CopynPaste"
            android:label="@string/phone_copyn_paste" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.phone.EnableGPS"
            android:label="@string/phone_enable_gps" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- *************** **LOCATION** *************** -->
        <activity
            android:name="cn.android.demo.apis.location.IntentActionView"
            android:label="@string/location_intent_action_view" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- *************** **THREAD** *************** -->
        <activity
            android:name="cn.android.demo.apis.thread.UseThreadLocal"
            android:label="@string/thread_use_thread_local" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.thread.BackgroundAsyncTask"
            android:label="@string/thread_background_async_task" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.thread.AndroidAsyncTask"
            android:label="@string/thread_async_task" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.thread.AndroidBackgroundThread"
            android:label="@string/thread_android_background" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!--  -->

        <activity
            android:name="cn.android.demo.apis.bug.BUGSurfaceViewWater"
            android:label="@string/bug_surface_water" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- *************** **UI Widget** *************** -->

        <activity
            android:name="cn.android.demo.apis.ui.widget.SingleTouchActivity"
            android:label="@string/ui_widget_single_touch" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.ui.widget.DanceTimer"
            android:label="@string/ui_widget_dance_timer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.ui.widget.SurfaceViewWater"
            android:label="@string/ui_widget_surface_water" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.ui.widget.CanvasBitmap"
            android:label="@string/ui_widget_canvas_bitmap" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.ui.widget.TouchDrawCircle"
            android:label="@string/ui_widget_canvas_circle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- *************** **UI View** *************** -->

        <activity
            android:name="cn.android.demo.apis.ui.views.AndroidWebView"
            android:label="@string/ui_view_webview"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.ui.views.AndroidSlidingDrawer"
            android:label="@string/ui_view_sliding_drawer"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.ui.views.AndroidViewFlipper"
            android:label="@string/ui_view_viewflipper"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.ui.views.AndroidCustomGridView"
            android:label="@string/ui_view_gridview"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.ui.widget.Compass"
            android:label="@string/ui_view_compass"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.ui.views.AndroidVideoView"
            android:label="@string/ui_view_video" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.ui.views.AndroidAutoCompleteTextView"
            android:label="@string/ui_view_auto_complete_textview" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.ui.views.AndroidListViewDemo"
            android:label="@string/ui_view_list_view" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.ui.views.AndroidViewOverlay"
            android:label="@string/ui_view_viewoverlay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- *************** **UI Graphics** *************** -->
        <activity
            android:name="cn.android.demo.apis.ui.graphics.AndroidMatrix"
            android:label="@string/ui_graphics_matrix" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.ui.graphics.AndroidColor"
            android:label="@string/ui_graphics_color" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- *************** **UI Resources** *************** -->
        <activity
            android:name="cn.android.demo.apis.ui.resources.DrawableLeft"
            android:label="@string/ui_resources_drawableleft" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.ui.resources.StringSpinner"
            android:label="@string/ui_resources_spinner" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.ui.resources.RawMediaPlayer2SoundPool"
            android:label="@string/ui_resources_raw_media_player" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- *************** **APP** *************** -->
        <activity android:name="cn.android.demo.apis.app.ScheduledActivity" >
        </activity>
        <activity android:name="cn.android.demo.apis.app.SetPreference" >
        </activity>
        <activity
            android:name="cn.android.demo.apis.app.AlarmManagerActivity"
            android:label="@string/app_alarm_manager" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.app.AndroidWallpaper"
            android:label="@string/app_android_wallpaper" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.app.AndroidPreference"
            android:label="@string/app_android_preference" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.app.AndroidChronometer"
            android:label="@string/app_android_chronometer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.app.SharedPreferencesEditor"
            android:label="@string/app_shared_preferences_editor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.app.AndroidService"
            android:label="@string/app_service" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.android.demo.apis.net.AndroidWebImage"
            android:label="@string/net_android_web_image" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.android.demo.apis.app.MyService"
            android:enabled="true" >
        </service>
        <!--  -->

        <activity
            android:name="cn.android.demo.apis.bug.DebugActivity"
            android:label="@string/debug_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.android.demo.apis.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- *************** **APPWIDGET***************** -->
        <!--
        <receiver android:name=".appwidget.BatteryWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider_info" />
        </receiver>

        <service android:name=".appwidget.BatteryWidgetProvider.MyBatteryReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
            </intent-filter>
        </service>
        -->
        <receiver
            android:name="cn.android.demo.apis.app.ScheduledReceiver"
            android:process=":remote" >
        </receiver>
        <receiver android:name="cn.android.demo.apis.appwidget.HelloWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/hellowidgetproviderinfo" />
        </receiver>
    </application>

</manifest>